@import url(reset.css);
body{
	margin: 10px;
	background-image: url(../img/witewall.png);
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
	padding: 20px;
}

h1{
	font-size: 300%;
	font-weight: bold;
	color: #AD009F;
	text-align: center;
	margin:30px;

}

h2{
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}
p {
	padding: 10px;
	clear: both;
	color: 
	}

.content-box{
	width:85%;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 2px 2px 6px #555;
	padding: 10px;
}


.logo{
	float: left;
	display: inline-block;
	padding-right: 20px;

}
nav ul{
		background-color: #FFBA00;
		width: 80%;
		border-radius: 5px;
		margin: 0 auto;
	}

	nav li{
		display: inline-block;
	}

	nav a{
		display: inline-block;
		padding: 10px;
		color: #FFF;
		font-weight: bold;
		font-size: 110%;
	}

	nav a:link,
	nav a:visited {
		text-decoration: none;
	}

	nav a:hover{
		background-color: #FFCB40;
		border-radius: 5px;
		margin: 0 auto;
	}