@import url(reset.css);
body{
	margin: 5px;
	background-image: url(../img/witewall.png);
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
	padding: 10px;
}

h1{
	font-size: 300%;
	font-weight: bold;
	color: #AD009F;
	text-align: center;
	margin:30px;

}

h2{
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}

h3{
	font-size: 150%;
	color:#04356C;
}
p {
	padding: 5px;
	clear: both;
	}

dt{
	clear: both;
	padding: 10px;
	margin-left: 25px;
}
dd{
	clear: both;
	margin-left: 60px;
	padding: 10px;


}

.logo{
	float: left;
	display: inline-block;
	padding-right: 20px;
	clear: both;

}
nav ul{
	background-color: #FFBA00;
	width: 75%;
	border-radius: 5px;
	margin: 0 auto;
}

nav li{
	display: inline-block;
}

nav a{
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 110%;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover{
	background-color: #FFCB40;
	border-radius: 5px;
	margin: 0 auto;
}

footer{
	font-size: 90%;
	font-style: italic;
	border-top: 1px;
	padding-top: 10px;
	border-style: solid;
	border-color: #C0C0C0;
	width: 95%;
	margin-left: 5px;
}